
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 17px;
    text-rendering: optimizeLegibility;
    /* background-color:  #cff3d588; */
}

body{
    background-color: #cff3d588;
    width: 100%;
}
/*--------------------------------------------LOGO-----------------------------------------------------------*/
.logo img{
    width: auto;
    height: 100px;
    float: left;
    margin-top: 10px;
    margin-right: 400px;
}
/*--------------------------------------------HEADER-----------------------------------------------------------*/
header{
    box-sizing: border-box;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient( to left, #cff3d588, #cff3d588); 
    float: left;
}
/*--------------------------------------------FOOTER-----------------------------------------------------------*/
footer{
    width: 100%;
    height: 100px; 
    float: left;
   
}
/* .footer{
    text-align: center;
    
} */
  .footer p{
  color:black;
  margin-top: 40px;
  float: left;
  text-align: center;
  margin-left: 34%;
  margin-bottom: 0;
  }
.social-links {
    margin-left: 40%;
   
  }
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10%;
    gap: 14% 0px;
    background-color: #96bcdf8c;
    
  }
 /*--------------------------------------------MENUBAR--------------------------------------------------------------*/
 ul{
    /* justify-content: center;
    align-items: center; */
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    float: left;
    /* width: 59%; */
}

 ul li{
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
  
}

 ul li a{
    
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    color: rgb(8, 3, 3);
    text-transform: uppercase;
    transition: 0.5s;
    float: left;
}

 ul:hover li a{
    transform: scale(1.5s);
    opacity: 0.1s;
    filter: blur(2px);
}

 ul li a:hover{
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
    color: rgb(218, 230, 180);
}

ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #41a1c7c4;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scale(0);
    z-index: -1;
}

 ul li a:hover:before{
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
} 
/*-------------------------------------------------------TITLE-------------------------------------------------------*/
@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

.info {
  color: black;
  font:1em/1 sans-serif;
  text-align: center;
}

.info a{
  color: black;
}

svg{
  width: 100%;
  height: 200px;
  display: block;
  position: relative;
  overflow: hidden; 
  margin-left: 40px;
  /* background: #cff3d588; */
}
text {
  filter: url(#filter);
  fill: white;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
}
/* -----------------------------------------------------ABOUTME------------------------------------------------- */

.container-fluid {
	width: 100%;
	margin: 24px auto 48px auto;
}
.row {
	margin-top: 12px;
}
/* 3D Transform. Craeted refering to Dudley Storey's Pen: https://codepen.io/dudleystorey/pen/KFLJp */
.tdimension {
	width: 600px;
	height: 600px;
	margin: 20px auto 40px auto;
    perspective: 10000px;
    
}
li{ 
    font-size:20px;
    padding-top: 4px;
}
.tdimension ul li{
    color: black;
}
.tdimension ul {
	display: block;
	width: 100%;
	height: 100%;
	background-color:#cff3d509;
	background-size: cover;
	transform-style: preserve-3d;
	transform: rotateX(50deg);
	transition: all 0.8s;	
}
.tdimension:hover ul {
    transform: rotateX(10deg);

}	
.tdimension ul:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;  
   	transform: rotateX(30deg);
    transform-origin: bottom;
}
.list-item{
    padding-top: 5px;
}
.list-itemm{
    padding-top: 20px;
    font-size: 150%;
    font-family: 'Kristi', cursive;
}
.imgg{
    margin-left: 50px;
    padding-top: 5px;
    height: 55%;
    width: 35%;
}