*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 17px;
    text-rendering: optimizeLegibility;
    /* background-color:  #cff3d588; */
}

body{
    
    background-color: #cff3d588;
    width: 100%;
}
/*--------------------------------------------LOGO-----------------------------------------------------------*/
.logo img{
    width: auto;
    height: 100px;
    float: left;
    margin-top: 10px;
    margin-right: 400px;
}
/*--------------------------------------------HEADER-----------------------------------------------------------*/
header{
    box-sizing: border-box;
    display: flex;
    /* justify-content: center;
    align-items: center; */ 
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient( to left, #cff3d588, #cff3d588); 
    float: left;
    background-color: #cff3d588;
    
}
/*--------------------------------------------FOOTER-----------------------------------------------------------*/
footer{
    width: 100%;
    height: 100px; 
    float: left;
   
}
/* .footer{
    text-align: center;
    
} */
  .footer p{
  color:black;
  margin-top: 40px;
  float: left;
  text-align: center;
  margin-left: 34%;
  margin-bottom: 0;
  }
.social-links {
    margin-left: 40%;
   
  }
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10%;
    gap: 14% 0px;
    background-color: #96bcdf8c;
    
  }
 /*--------------------------------------------MENUBAR--------------------------------------------------------------*/
 ul{
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    float: left;
}

 ul li{
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
}

 ul li a{
    margin-top: 10px;
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    color: rgb(8, 3, 3);
    text-transform: uppercase;
    transition: 0.5s;
    float: left;
}

 ul:hover li a{
    transform: scale(1.5s);
    opacity: 0.1s;
    filter: blur(2px);
}

 ul li a:hover{
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
    color: rgb(218, 230, 180);
}

ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #41a1c7c4;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scale(0);
    z-index: -1;
}

 ul li a:hover:before{
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
} 
 /*--------------------------------------------Title--------------------------------------------------------------*/
.content{
    
    position: relative;
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.781), #cff3d588), url(../css/image/daisy.jpeg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* clip-path: circle(180vh at 100% -80vh) ; */
    clip-path: circle( 50% at center center) ;
}
.content,
.Content{
    max-width: 100%;
    /* text-align: center; */
    
}
.content,
.Content h2{
    font-size: 180%;
    color: #fff;
    font-weight: 60%;
   margin-top: 10px;
}
h2{
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
@keyframes animation {
    0%{
        opacity: 0;
        transform: translate(70px, -90px);
    }

    80%{
        opacity: 0.5;
        transform: translate(50px, -20px);
    }

    100%{
        opacity: 1.0;
        transform: translate(0px,0px)
    }
}
 /*--------------------------------------------Blockquote--------------------------------------------------------------*/

  blockquote {
    border-left: 10px solid blueviolet;
    box-shadow: inset 0 -25px #c595f1;
    width: 60vw;
    padding: 1rem 1.5rem calc(1rem + 8px);
    margin: 0;
  }
  blockquote p {
    margin: 10 0 10px;
    font-size: 80%;
    line-height: 1.5;
  }
  blockquote footer {
    font-size: 50%;
  }
 /*--------------------------------------------EXPERIENCE--------------------------------------------------------------*/

  .contentt {
    position: absolute;
    top: 80%;
    left: 39%;
    transform: translate(-70%, -70%);
    height: 160px;
    overflow: hidden;
    line-height: 40px;
    color: #ecf0f1;
  }
  .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
  }
  .content__container:before {
    content: "&heart";
    left: 0;
  }
  .content__container:after {
    content: "]";
    position: absolute;
    right: 0;
  }
  .content__container:after, .content__container:before {
    position: absolute;
    top: 0;
    color: #9ea016;
    font-size: 42px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .content__container__text {
    display: inline;
    float: left;
    margin: 0;
 }
 
  .content__container__list {
    margin-top: 25px;
    padding-left: 20px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .content__container__list__item {
    line-height: 40px;
    margin: 0;
  }
  
  @-webkit-keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @-webkit-keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }
  @keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }
 /*--------------------------------------------skill--------------------------------------------------------------*/
.skill{
  margin-top: 70px;
}
body{
    margin-top: 50px! important;
}
h3{
    margin: 0;
}
.progress-title{
    font-size: 16px;
    color:#011627;
    margin:0px 0 30px !important;
    font-weight: 700;
}
.progress{
    background-color:#f7f7f7;
    height:15px;
    overflow: visible !important;
    position: relative;
    margin-bottom: 30px;
    border-radius:0px !important;
    box-shadow: none;
}
.progress .progress-bar{
    animation: animate-cycle 2s;
    box-shadow: none;
    position: relative;
}
.progress .progress-bar:before{
    content: "";
    position: absolute;
    width: 100%;
    top: 6px;
    left: 0;
    border: 2px dashed #fff;
}
.progress .progress-bar:after{
    content: "\f206";
    font-family: fontawesome;
    position: absolute;
    right: 0px;
    top: -20px;
    font-size: 50px;
    color: #000;
}
@-webkit-keyframes animate-cycle {
    0% { width: 0%; }
}

@keyframes animate-cycle {
    0% { width: 0%; }
}
